<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>You Received a Greeting Card!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;" bgcolor="ffffff">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td bgcolor="#ffffff" align="center">
            <img src="http://janusz.nl/content/images/21/iloveyou.png"
                 alt="Just wanted to say I love you." width="600" style="display: block;"/>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 40px 35px 35px 35px; border: 0px solid #434857;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #000000; font-family: Arial, sans-serif; font-size: 14px;" align="left">
                        <b>{{title}}</b>
                        <p>
                          {{message}}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td bgcolor="#ff7f7f" align="right" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"
                        align="left">
                        <a href="" style="color: #ffffff"><b>21projects.xyz</b></a>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
